*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
#app{
    min-height: 100vh;

    background-image: url("../assets/philip-oroni-NBQH9hYvCwY-unsplash\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}