#taskbar {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 55px;

    background: rgba(15, 15, 20, 0.85);

    backdrop-filter: blur(15px);

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;

    padding: 0 10px;

    z-index: 1000;
}

/* Start Button */

#startBtn {
    width: 42px;
    height: 42px;

    border: none;
    border-radius: 8px;

    background: transparent;
    color: white;

    font-size: 28px;

    cursor: pointer;
}

#startBtn:hover {
    background: rgba(255, 255, 255, 0.12);
}

/* Taskbar Apps */

#taskbarApps {
    display: flex;
    align-items: center;

    gap: 5px;

    margin-left: 10px;
}

/* System Tray */

#systemTray {
    margin-left: auto;

    height: 100%;

    display: flex;
    align-items: center;

    gap: 14px;

    color: white;
    font-size: 13px;
}

#clock {
    min-width: 45px;
    text-align: center;
}

.taskbar-app {
    width: 42px;
    height: 42px;

    border: none;
    border-radius: 8px;

    background: transparent;

    font-size: 22px;

    cursor: pointer;
}

.taskbar-app:hover {
    background: rgba(255, 255, 255, 0.12);
}